language: python
python:
        - "3.6"         # Currently the default Python on Travis CI
        - "3.7"
        - "3.8"

# Install dependencies
before_install:
        - python --version
        - pip install -U pip
        - pip install -U pytest
        - pip install pytest-cov
        - pip install codecov

# Install our program
install:
        - pip install --editable .

# Command to run tests
script:
        - pytest --cov-report term-missing --cov=./word_tools ./tests

# On success, submit coverage
after_success: codecov
